[Desktop Entry]
Name=Impressive Editor
Name[zh_TW]=Impressive 編輯器
Comment=Editor for Impressive presentation tool
Comment[zh_TW]=Impressive 簡報工具的編輯器
TryExec=impressive-editor
Exec=impressive-editor %f
Terminal=false
Type=Application
Categories=Office;
Icon=impressive-editor
MimeType=application/pdf;
